header {
    padding: 1rem;
    height: auto;
}

.banner-educacao img {
    width: 100%;
    height: auto;
    margin-top: 0;
}

.eventos h2,
.oficinas h2 {
    font-size: 3rem;
}

.eventos p,
.oficinas p {
    width: 90%;
    font-size: 1.25rem;
    margin: 1rem;
}

.img-eventos img,
.img-oficinas img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
}

.container-barra{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.barra {
    width: 90%;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.fundo{
    margin-top: 1rem; 
    margin-bottom: -1rem;
}

.aviso {
    width: 60%;
    height: auto;
    font-size: 0.60rem;
    margin-top: -7rem; 
    margin-left: 1rem;
    border-radius: 2rem;
}