:root {
    --background: #ffffff;
    --color-text: #05a61d;
    --background-details: #F2D16D;
    --color-text-2: #20731d;
}

* {
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
  }
  
  body {
	height: 100%;
	margin: 0;
	background-color: #faf1d2;
  }

  header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
    background-color: #dbba61;
    height: 200px;
}

.banner-educacao img {
    height: 490px;
    position: absolute;
    left: 50%;
    top: -140px;
    transform: translateX(-50%);
}

.eventos h2, .oficinas h2 {
	font-family: 'Baloo', sans-serif;
	color: #05a71c;
	font-size: 50px;
}

.eventos h2 {
	margin-left: 60px;
}

.oficinas h2 {
	margin-left: 1020px;
	float: left;
}

.eventos p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #0b5516;
	font-size: 20px;
	margin-left: 60px;
	text-align: justify;
	margin-right: 60px;
	width: calc(100% - 200px);
	float: left;
}

.eventos img {
	position: absolute;
	top: 250px;
	right: 150px;
	width: 500px;
	height: 300px; 
	background-size: cover;
  	background-position: center;
}

.oficinas p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #0b5516;
	font-size: 20px;
	margin-left: 60px;
	text-align: justify;
	margin-right: 55px;
	margin-top: 80px;
	width: calc(100% - 200px);
	float: right;
}

.oficinas img {
	position: absolute;
	top: 550px;
	left: 150px;
	width: 500px;
	height: 300px; 
	background-size: cover;
  	background-position: center;
}

.cilindro {
	width: 80%;
	height: 15px;
	background-color: #dbba61;
	position: absolute;
	top: 85%;
	margin-left: 120px;
	transform: translateY(-50%);
	border-radius: 5px;
  }
  

.ass-maker-social h2 {
	font-family: 'Baloo', sans-serif;
	color: #198a30;
	font-size: 50px;
	margin-left: 60px;
	text-align: justify;
}

.ass-maker-social p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #0b5516;
	font-size: 20px;
	margin-left: 60px;
	text-align: justify;
}


.formulario {
	margin: 20px;
}

.lista {
	list-style-type: none;
	padding: 0;
}

.lista li {
	margin-bottom: 10px;
}

.lista label {
	font-family: 'Baloo', sans-serif;	
	color: #0b5516;
	font-size: 25px;
}
  
.lista input[type="text"],
.lista input[type="email"],
.lista input[type="tel"] {
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #FFCC99;
}