*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
    background-color: #faf1d2;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
    width: 96,2%;
    background-color: #dbba61;
    height: 40px;
}

header .logo-robotica{
	width: 200px;
	transition: 0.2s ease-in-out;
}

header .imagem-botao{
    width: 40px;
    height: 35px;
    transition: 0.2s ease-in-out;
    margin-top: 5px;
}

header .logo-robotica:hover{
	transform: scale(1.05);
	cursor: pointer;
}

header .imagem-botao:hover{
    transform: scale(1.2);
    cursor: pointer;
}


.container-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video{
    margin: 20px;
    width: 100%;
    height: 500px;
}

.robotica-banner{
    margin: 20px;
}

.robotica-banner img {
    width: 100%;
    height: auto;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 35px;
}
  
  .botoes img {
    padding: 25px;
}
  
  .animacao-botao {
    transition: 0.2s ease-in-out;
}
  
  .animacao-botao:hover {
    transform: scale(1.05);
    cursor: pointer;
}
  

.titulo-barra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    border: 10px solid #dbba61;
    border-radius: 60px;
    background-color: #dbba61;
    margin: 130px auto auto;
}

.titulo{
    color: #05a71c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.texto-missao-valores {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: justify;
    margin: 50px;
    color: #0b3b08;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listagem{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao {
    background-color: #dbba61;
    width: 350px;
    height: 560px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    margin-bottom: 40px;
}

.cartao:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.titulo-card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #037414;
    font-weight: 700;
    font-size: 26px;
}

.informacao {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #037414;
    font-weight: 700;
    padding: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    
    max-height: 80px;
}

.pontos-coleta{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #037414;
    font-weight: 700;
    padding: 20px;
    line-height: 30px;
    text-align: left;
    font-size: 20px;
    max-height: 500px;
    overflow-y: scroll;
}


::-webkit-scrollbar {
	width: 14px;
}

*::-webkit-scrollbar-track {
	background: #f1e9e9;
}

*::-webkit-scrollbar-thumb {
	background-color: #06b620e1;
	border-radius: 10px;
	border: 3px solid #ffffff;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #046613e1;
}

footer {
    background-color: #dbba61;
    padding: 15px;
    text-align: center;
}
  
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;

}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    row-gap: 10px;
  }
  
.item {
    display: flex;
    align-items: center;
}
  
.item img {
    max-width: 100%;
    height: auto;
    margin-right: 5px; 
}
  
.item p {
    color: #037414;
    font-weight: 700;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.copyright{
    color: #037414;
    font-weight: 700;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}