:root {
    --background: #ffffff;
    --color-text: #05a61d;
    --background-details: #F2D16D;
    --color-text-2: #20731d;
}

* {
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
  }
  
  body {
	height: 100%;
	margin: 0;
	background-color: #faf1d2;
  }

  header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
    background-color: #dbba61;
    height: 200px;
}

.banner-educacao img {
    height: 490px;
    position: absolute;
    left: 50%;
    top: -140px;
    transform: translateX(-50%);
}

.eventos {
	position: relative;
  	display: flex;
  	align-items: center;
}
.eventos h2, .oficinas h2 {
	font-family: 'Baloo', sans-serif;
	color: #05a71c;
	font-size: 50px;
}

.eventos h2 {
	margin-left: 60px;
}

.oficinas h2 {
	margin-left: 1020px;
}

.eventos p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #0b5516;
	font-size: 20px;
	margin-left: 60px;
	text-align: left;
	margin-right: 60px;
	width: calc(100% - 200px);
}

.img-eventos img {
	margin-left: 45rem;
	height: 360px;
	width: 500px;
	padding: 10px;
	margin-top: -10rem;
	border-radius: 40px;
	float:right;
}

.oficinas p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #0b5516;
	font-size: 20px;
	margin-left: 60px;
	text-align: justify;
	margin-right: 55px;
	margin-top: 80px;
	width: calc(100% - 200px);
}

.oficinas img {
	top: 300px;
	height: 20rem;
}

.barra {
	width: 80%;
	height: 15px;
	background-color: #dbba61;
	position: relative;
	top: -710px;
	margin-left: 120px;
	transform: translateY(-50%);
	border-radius: 5px;
  }
  

.ass-maker-social h2 {
	font-family: 'Baloo', sans-serif;
	color: #198a30;
	font-size: 50px;
	margin-left: 60px;
	text-align: justify;
}

.ass-maker-social p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #0b5516;
	font-size: 20px;
	margin-left: 60px;
	text-align: justify;
}

.lista label {
	font-family: 'Baloo', sans-serif;	
	color: #0b5516;
	font-size: 25px;
}
  
.lista input {
    width: 20px;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    background-color: var(--background-details);
    outline: none;
    min-width: 180px;
    font-size: 16px;
    border-radius: 10px;
  }

