:root {
    --background: #ffffff;
    --color-text: #05a61d;
    --background-details: #F2D16D;
    --color-text-2: #20731d;
}

* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--background);
}

header {
    display: flex;
    padding: 1.5625rem;
    background-color: var(--background-details);
    height: 5.625rem;
    justify-content: center;
}

.titulo-sustentabilidade {
    color: var(--color-text);
    font-family: Baloo, Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    font-size: 30px;
}

.fundo-titulo {
    background-color: var(--background-details);
    text-align: center;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    height: 45px;
}

.sub-titulo {
    color: var(--color-text);
    font-size: 20px;
    font-family: Baloo, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

.img-ponto-colega {
    display: flex;
    margin: 40px;
}

.img-ponto-colega img{
    width: 100%;
}

.footer-content {
    position: relative;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0;
}

.footer-content img {
    width: 100%;
    margin-bottom: -5px;
}

.label-float {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 2px;
}

.logo-robotica{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-details);
    border-radius: 20px;
    margin: 50px;
    height: 40px;
}   

.img-celz {
    display: flex;
    position: relative;
    justify-content: center;
}

p {
    top: 0px;
    left: 0;
    position: sticky;
    margin-top: -300px;
    margin-left: 60px;
    font-size: 40px;
    font-family: Baloo, Verdana, Geneva, Tahoma, sans-serif;
    color: var(--background-details);
    text-align: center;
}

mark{
    background-color: var(--background-details);
}


