header{
    height: 4.5rem;
    justify-content: center;
}

.titulo-sustentabilidade{
    font-size: 1rem;
}

.fundo-titulo {
    text-align: center;
    border-radius: 1.25rem;
    height: 4rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.container-botao {
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    margin-left: -1rem;
}

.container-botao img {
    margin-top: 0.5rem;
    margin-bottom: 0.625rem;
}

.container-botao img{
    height: 3rem;
}

.sub-titulo {
    font-size: 0.90rem;
}

.img-ponto-colega {
    display: flex;
    margin: 1.5rem;
}

p{
    margin-top: -5.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.7rem;
}